/* Color course */
.BA {
    background-color: yellow;
}

.BC {
    background-color: red;
}

.BE {
    background-color: darkblue;
}

.BM {
    background-color: blue;
}

.BS {
    background-color: green;
}

.MEM {
    background-color: #b0c4de;
}

.MAU {
    background-color: #ffe4e1;
}

.MEO {
    background-color: violet;
}

.MIN {
    background-color: #e9967a;
}

.MCO {
    background-color: #f0e68c;
}

.MGE {
    background-color: lightgray;
}

.MIS {
    background-color: greenyellow;
}

.MBA {
    background-color: pink;
}