#weektable {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    
    td {
        height: 72px;
        border: 0px;
        padding: 0px;
    }
}

#button {
    top: 0px;
    position: absolute;
    width: 100%;
    padding: 0px;
    border: 1px solid black;

}

.container {
    position: relative;
    width: 100%;
    height: 72px;
  }