.headerCell {
    background-color: #E6E6FA; /* Changez cette couleur selon vos préférences */
    font-weight: bold;
    text-align: center;
  }
  
  .selectedDay {
    background-color: #87CEFA; /* Couleur de surbrillance pour la case sélectionnée */
  }
  
  /* Ajoutez cette règle pour définir la couleur d'arrière-plan pour les jours d'autres mois */
  .otherMonthDay {
    background-color: #C0C0C0; /* Couleur d'arrière-plan pour les jours d'autres mois */
  }
  .headerCell:hover,
  .selectedDay:hover,
  .otherMonthDay:hover {
    opacity: 0.8; /* Reduce opacity on hover for a subtle effect */
    cursor: default;/* Show pointer cursor on hover for interactive elements */
  }